<h3 id="skills-h3">Skills at a Glance:</h3>
<ul id="skills" class="flex-box">
  <% for (var i = 0; i < skills.length; ++i) { %>
    <li class="flex-item"><span class="white-text"><%= skills[i] %></span></li>
  <% } %>
</ul>
